body {
  background-color: #f9f9f9;
  font-family: 'Segoe UI', sans-serif;
}

.navbar .btn i {
  font-size: 18px;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0.25rem;
}

.job-card {
  background-color: #fff;
}

.job-card i {
  font-size: 18px;
  cursor: pointer;
}
